/* All h1 are assign this color */
h1 {
    color: #24a997;
}

/* To add colorful hover effccts on navigation items */
nav a:hover {
    background-color: #e1eb5a; 
}

* {
    margin: 1;
    padding: 2;
    box-sizing: border-box;
}

body {
    font-size: 12pt;
    font-family: professionalfonts;
    background-color: #d5e2f0; 
    color: #7d1474; 
}

header {
    background-color: #b9bceb; 
    text-align: left;
}

.photo-gallery {
    padding: 20px;
    background-color:aliceblue;
}


.flex-container {
    display: flex;
    flex-wrap: nowrap; 
    overflow-x: auto; 
    gap: 12px; 
}

.photo-gallery img {
    width: 400px; 
    height: auto; 
    border-radius: 8px;
    border: 4px solid #e1eb5a;
}




